---
title: "Acerca de..."
---
{% render '_head' %}
    <h1>{{ title }}</h1>
        <p>Este proyecto es un "experimento" de un índice de
          <b>croquetas de conocimiento</b>
          mediante un generador de sitios web estáticos.
          La lista de croquetas está en croquetas.csv.
        </p>
    </p>
{% render '_foot' %}