<div class="collapse bg-dark" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-7 py-4">
        <h4 class="text-white">Acerca de...</h4>
        <p class="text-muted">Carta experimental de croquetas.<br/>
          <img
            src="https://media.giphy.com/media/YTJXDIivNMPuNSMgc0/giphy-downsized.gif"
            alt="me thinking 'I can do this'"
            title="me thinking 'I can do this'" />
          <br/>
          <a href="/README/" class="nav-link">Más información aquí.</a>
        </p>
      </div>
      <div class="col-sm-4 offset-md-1 py-4">
        <h4 class="text-white">Contact</h4>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-white">Follow on Twitter</a>
          </li>
          <li>
            <a href="#" class="text-white">Like on Facebook</a>
          </li>
          <li>
            <a href="#" class="text-white">Email me</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container">
    <a href="#" class="navbar-brand d-flex align-items-center">
      <img src="/img/croquetas.png" width="64" />&nbsp;&nbsp;&nbsp;
      <h1>
        <strong>Croquetas</strong>
      </h1>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarHeader"
      aria-controls="navbarHeader"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>